/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3d74df;
    color: #2c3e50;
    line-height: 1.6;
}

/* Container for Map and Filters */
.container {
    display: flex;
    height: 100vh;
    /* Full viewport height */
}

/* Map Area */
#map {
    flex: 1;
    /* Take up all available space */
    min-height: 100%;
    z-index: 1;
    /* Ensure the map is behind the overlay */
}

/* Overlay for Filters */
.filters-overlay {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    /* Adjust width as needed */
    height: 17vh;
    /* Set height to 17% of viewport height */
    background-color: rgba(255, 184, 77, 0.8);
    /* #ffb84d with opacity */
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
}

/*Station Panel*/
.station-panel {
    position: absolute;
    left: -20%;
    /* Initially hidden off-screen */
    top: 42%;
    transform: translateY(-50%);
    height: 70%;
    /* Adjusted height to 50% of the screen */
    width: 20%;
    /* Adjusted width to 20% */
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: left 0.3s ease;
}

.station-panel.active {
    left: 0;
    /* Slide in when active */
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.panel-header h3 {
    font-size: 1.2em;
    margin: 0;
}

.close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.panel-content {
    flex: 1;
    overflow-y: auto;
}

.panel-content p {
    font-size: 10px;
    line-height: 0.5;
}


/* Filter Container */
.filters-container {
    width: 100%;
    /* Take up 100% of overlay width */
    max-width: 1400px;
    /* Limit width for large screens */
    background-color: transparent;
    /* remove default background */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* Align items vertically */
    justify-content: flex-start;
    /* Align items to the start for search field and dropdowns */
    padding: 10px;
}

/* Search Field */
.search-container {
    flex: 0 0 40%;
    /* Take up 40% of the width, don't grow or shrink */
    display: flex;
    align-items: center;
     position: relative;
    /* align items vertically within the container */
}

#search-input {
    margin-right: 15px;
    /* Space between search and other elements */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    /* Take full width of search-container*/
}

#search-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: -4px;
    /* To be flush with input */
    height: 37px;
    width: 40px;
    /* Adjust as needed */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-button:hover {
    background-color: #2980b9;
}

/* Form Layout Columns */
#visualization-filters {
    display: flex;
}

.form-column {
    flex: 1;
    padding-right: 10px;
}

/* Booking Type Radio Buttons */
.booking-type-options label {
    display: block;
    /* make radio buttons on separate lines*/
    margin-bottom: 5px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Booking Type Radio Buttons */
.booking-type-options {
    margin-right: 10px;
    /*Give a small space between groups */
}

/* Dropdown Group Container for horizontal alignment */
.dropdown-group {
    display: flex;
    margin-right: auto;
    /* Push refresh button to the right */
}

.filters-container legend {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 0 5px;
    background-color: white;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    /* Align button to the right */
    margin-left: 15px;
    /* Space between filters and button */
}

#refresh-database {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#refresh-database:hover {
    background-color: #2980b9;
}

/* Dropdown Styles */
.dropdown {
    margin-bottom: 10px;
    position: relative;
}

.dropdown-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    pointer-events: none;
    /* Disable button clicks */
    width: 180px;
    /* Set the width of the button */
    text-align: left;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    font-family: 'Open Sans', sans-serif;
}

.dropdown-button:hover {
    background-color: #2980b9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    /* Match the width of the button */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    bottom: 100%;
    left: 0;
    transform: translateY(0px);
    /*Moves drop down to the same line with button*/
}

.dropdown-content label {
    display: block;
    margin-bottom: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Search Results Container Styles */
.search-results {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 1001;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-height: 200px;
    /* Adjust as needed */
    overflow-y: auto;
    /* Allow vertical scrolling */
    display: none;
}

.search-result {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.search-result:hover {
    background-color: #f0f0f0;
}